#map {
    height: calc(100% - 450px); /* Adjust the height to fit within the window's height */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.legend {
    background-color: white;
    margin: 10px;
    padding: 5px;
}
h1 {
    text-align: center;
    margin-top: 20px;
}