<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Pollution Visualizer</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://unpkg.com/topojson@3"></script>
</head>
<body>
    <h1>Pollution Visualizer</h1>
    <div id="year-select-container-flex">
        <div id="year-select-container">
            <label for="year_select">Select Year to Analyze</label>
            <select id="year_select">
                <option value="" selected>-- Select a Year --</option>
                {% for year in unique_years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="map-and-legend-container">
        <div id="map-controls">
            <label for="pm25-range-filter">Filter by AQI Range:</label>
            <select id="pm25-range-filter">
                <option value="all">All</option>
                <option value="good">Good</option>
                <option value="moderate">Moderate</option>
                <option value="unhealthy-for-sg">Unhealthy for Sensitive Groups</option>
                <option value="unhealthy">Unhealthy</option>
                <option value="very-unhealthy">Very Unhealthy</option>
                <option value="hazardous">Hazardous</option>
            </select>
            <label for="month_select">Month:</label>
            <select id="month_select">
                <option value="" selected>-- Select a Month --</option>
                {% for month in range(1, 13) %}
                <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="map-container">
            <svg id="map" width="960" height="600"></svg>
            <div id="legend"></div>
        </div>
    </div>
    
    <div id="plots-flex-container">
        <div id="line-chart-container">
            <label style="margin-left: 28px;">Select a City:</label>
            <select id="city_select">
                <option value="" selected>-- Select a City --</option>
                {% for city in unique_cities %}
                <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
            <div id="line_chart" style="width: 100%; height: 300px;"></div>
        </div>
        <div id="stacked-bar-chart-container">
            <h4 style="text-align: center; margin-bottom: 5px">Top 5 Most Polluted Counties</h4>
            <div id="stacked_bar_chart"></div>
        </div>
        <div id="scatter_plot_container">
            <label for="pollutant_select">Select a Pollutant:</label>
            <select id="pollutant_select">
                <option value="" selected>-- Select --</option>
                <option value="pm25_median">PM2.5</option>
                <option value="o3_median">O3</option>
                <option value="no2_median">NO2</option>
                <option value="co_median">CO</option>
                <option value="so2_median">SO2</option>
            </select>
            <div id="scatter_plot"></div>
        </div>
    </div>

    <script>
        var locations = {{ locations|tojson|safe }};
    </script>
    <script src="../static/js/AQICalculator.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>
